:host {
    .portalGrid{
        margin-top:10px;
        .portalGridControls{
            margin-top: 5px;
            margin-bottom:5px;
         }
         .portalGridDataContainer{
                .pager{
                    margin-top: 5px !important;
                    display: block;
                    height: 40px;
                    padding: 0px;
                     .pager-count{
                        float: left;
                        padding: 0px;
                     }
                    .pager-control-container{
                        float:right;
                        padding:0px;
                        .pageSize{
                            height:30px;
                            padding:2px;
                            margin-top:5px
                        }
                        .ui-grid-pager-control{
                            float:right;
                            button{
                                display:inline !important;
                                height:30px;
                                width:35px;
                                padding:2px;
                                .bar{
                                    font-size:13px
                                }
                                
                            }
                        }
                    }
               }
         }
        .selectInfo{
            display:inline;
            margin-left:20px;
            a{
                cursor:pointer;
                color  : #337ab7;
                text-decoration: none;
                margin-left:5px;
            }
        }
        
        
        .seperator{
            margin-left: 2px;
            margin-right:2px;
        }

    }
    
    
    
}
