
  
    <h2>Customer</h2>
<!--     <div> 
     <form (ngSubmit)="onSubmit(f)" #f name="createCustomerForm" class="form-horizontal"> 
     	<div class="col-sm-12 col-md-12" >
     			<div class="row form-group">
							<div class="col-md-5 col-sm-5">
								<h6 class="pull-right">
									Customer<font color=red>*</font>
								</h6>
							</div>
							<div class="col-md-3 col-sm-3">
								<input class="form-control" type="text" id="readCustomer" ngModel name="custName" required
									 maxlength="256">
								<input class="form-control" type="text" id="readCustomer" [(ngModel)]="custName" required
									 maxlength="256">	 
							</div>
			  </div>
			  <div class="row form-group">
							<div class="col-md-5 col-sm-5">
								<h6 class="pull-right">
									Email Domain
								</h6>
							</div>
							<div class="col-md-3 col-sm-3">
								<input class="form-control" type="text" id="readEmailDomain" ngModel name="emailDomain"
									 maxlength="256">
							</div>
			</div>
			<button style="width:20%" class="btn btn-success" 	id="createCustomer" type="submit" (click)=createCustomer()>Save</button>
			
			<button style="width:100%" class="btn btn-primary"  type="submit">Submit</button> 
			
    	 </div>
     </form>
    </div> -->
    
  <div>
  
   Name <input type="text" class="form-control" [(ngModel)]="name" /> <br>
    
    Email Domain <input type="text" class="form-control" [(ngModel)]="emailDomain" />
    
    <button style="width:20%" class="btn btn-success" 	id="createCustomer" type="submit" (click)=createCustomer()>Save</button>
    
   </div> 
    <label>Customer Names</label>
  <ul>
      
    <li *ngFor="let customer of customers">{{customer.name}}</li>
  </ul>





<!-- rowData : 

  <ul>
      
    <li *ngFor="let c of gridOptions.rowData">{{c.name}}</li>
  </ul> -->

<!--   col defs :  
   


  <ul>
    <li *ngFor="let c of gridOptions.columnDefs">{{c.headerName}}</li>
  </ul>
   -->
  
 Data using Ag-Grid 
<div class="portalGrid">
	<div class="portalGridControls">
	
<!--  	 <ag-grid-angular style="width: 100%; height: 350px;"  class="ag-theme-dark" [gridOptions]="gridOptions"
	 [pagination]="true" 
	 [paginationAutoPageSize]="true"  
	 enableColResize 
	 enableSorting 
	 enableFilter> </ag-grid-angular>  --> 
	
	
 	<ag-grid-angular #agGrid style="height: 515px; width:602px;" class="ag-theme-balham"
	[rowData]="gridOptions.rowData" 
	[columnDefs]="gridOptions.columnDefs" 
	[pagination]="true" 
	[paginationAutoPageSize]="true" 
	[gridOptions]="gridOptions" 
	[rowSelection]="rowSelection"  
	enableColResize enableSorting enableFilter></ag-grid-angular>
     


	</div>
</div> 